/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2025, 11:20:44 PM
    Author     : user
*/

.left-form{
    -fx-background-color:linear-gradient(to bottom right, #449d6b, #633364);
    -fx-border-color: #000;
    -fx-border-width: 4px 0px .4px 0px;
    
}

.right-form{
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: 4px 0px .4px 0px;
    
}

.close{
    -fx-background-color: transparent;
    -fx-cursor:hand;
}
.close{
    -fx-background-color: #ff4d5f;
}

.textfield{
    -fx-background-color: transparent;
    -fx-border-color: #000;
    -fx-border-width:4px;
    -fx-border-radius: 4px;
    -fx-font-size:13px;
    -fx-font-family: "Tahoma";
}

.textfield:focused{
    -fx-border-color: linear-gradient(to bottom right, #449d6b, #633364);
    -fx-border-widht:1.4px;   
    
}

.login-btn{
    -fx-border-color: linear-gradient(to bottom right, #449d6b, #633364);
    -fx-background-radius: 15px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-family:"Arial";
}

.login-btn:hover{
    -fx-border-color: linear-gradient(to bottom right, #3fb871, #874489);
}